
.card-container {
    max-width: 90%;
}
.card {
    border-radius: 15px;
    background: $nav-bg;
    height: 240px;
    width: 240px;
    margin: 0 auto;

}

#card3, #card8 {
    background: #ffffff;
    border: 3px solid $primary;
}

#card6 {
    background: $primary;
    border: 3px solid #ffffff;
}