.dark-brand {
    color: $brand-color!important;
}

.navbar-background {
    background: $nav-bg!important; 
    z-index: 1;
    a {
        font-family: "Archivo Narrow", sans-serif;
    }

    
}

header {
    margin-bottom: 80px;
}


